<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <!--Let browser know website is optimized for mobile-->
     	 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Road To Immortality</title>
</head>

<body>
    <div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
    <nav>
        <div id="title">Road To Immortality</div>
        <ul id="menu">
            <li><a href="/">Home</a></li>
            {{#if user}}
                <li><a href="/profile">Profile</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            {{/if}}
        </ul>
    </nav>

    <div class="container mt-6">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5" style="text-align:justify;">
                <h1 class="display-4 fw-bold" style="text-align:center; ">Welcome to the world of Immortals</h1>
                <p class="col-md-16 fs-7">According to legend, at the beginning, there was nothing in the universe
                    except a formless chaos, representing the beginning and the whole. Then Pangu, the
                    primitive giant, awoke from the chaos. He separated the Earth and the Sky with his axe, and finally
                    he stood between them and pushed the Sky, thus marking the human, the Earth and the Sky as we all
                    know.</p>
                <p> This is the world of immortals, beings which strive and walk the path of Dao to achieve powers
                    beyond imagination and to ascend to a higher existence through cultivation. </p>
                <p> The Heavenly Dao is an entity above all lifeforms in the universe. It is responsible for the
                    management of the universe as it is supreme and all rules set by the Heavenly Dao are absolute in
                    the universe.</p>
                <p> Cultivators, named so as they are just on the path to immortality, challenge the Heavenly Dao and
                    its rules, strenghtening themselves and pushing past their limits as they strive to achieve the
                    Martial Peak.
                </p>
                <p class="intro-fin" style="text-align: center;"> Now it's time to make your own story in a world where the strong preys on the weak and every step
                    may lead to death.</p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>