nav {
    background:-webkit-linear-gradient(left,rgb(112, 0, 0) -500px,rgb(0, 0, 0),rgb(16, 0, 104) 2500px);
    color: #fff;
    padding: 30px 60px;
    display: flex;
    position:relative;
    height: 11%;
    justify-content: space-between;
}

nav ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

nav li{
    list-style: none;
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover{
    color:yellow;
    text-decoration: none;
}

.avatar-ctn{
    background-color: orange;
    text-align: center;
}

.avatar {
    width: 65%;
    border-bottom: 1px solid rgba(0,0,0,0.125);
}

html,body{

    height:100%;
    background:-webkit-radial-gradient(center,1000px 450px, white, black);
}

.wrapper{
    overflow: hidden;
    max-width: 60%;
    position: relative;
    left: 20%;
    top:100px;
    background: #fff;
    padding: 30px;
    border-radius:  5px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

.wrapper .title-text{
    display:flex;
    width: 200%;
}

.wrapper .title-text .title{
    width:50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition:all 0.6s cubic-bezier(0.68, -0.55,0.265,1.55);
}

.wrapper .form-container{
    width:100%;
    overflow: hidden;
    
}

.form-container .slide-controls{
    position: relative;
    display:flex;
    height:50px;
    width: 100%;
    border-radius: 5px;
    overflow:hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgray;
}

.slide-controls .slide{
    height: 100%;
    width:100%;
    z-index: 1;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor:pointer;
    transition: all 0.6s ease;
}

.slide-controls .signup{
    color: #000;
}

.slide-controls .slide-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
    background: -webkit-linear-gradient(left,rgb(112, 0, 0),rgb(0, 0, 0),rgb(16, 0, 104) );
}

input[type="radio"] {
    display:none;
}
#signup:checked ~ .slide-tab {
    left: 50%;
}

#signup:checked ~ .signup {
    color:#fff;
}

#signup:checked ~ .login {
    color:#000;
}

.form-container .form-inner{
    display:flex;
    width: 200%;
}

.form-container .form-inner form{
    width: 50%;
    transition:all 0.6s cubic-bezier(0.68, -0.55,0.265,1.55);
}

.form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-bottom-width: 2px;
}

.form-inner form .field input:focus{
    border-color:#9c0c02 ;
}

.form-inner form .pass-link{
    margin-top: 5px;
}

.form-inner form .signup-link{
    text-align:center;
    margin-top:30px;
}

.form-inner form .pass-link a,
.form-inner form .signup-link a{
    color: #9c0c02 ;
    text-decoration: none;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
    text-decoration: underline;
}

.form-inner form .field input[type="submit"]{
    color:#fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    border:none;
    cursor:pointer;
    background: -webkit-linear-gradient(left,rgb(112, 0, 0),rgb(0, 0, 0),rgb(16, 0, 104) );
}

#sideMenu{
    left:0;
    width:160px;
    position:absolute;
    top:100px;
    z-index:1;
}

#sideMenu .menuDiv{
    display: block;
    border-left: 0;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-color:-webkit-linear-gradient(rgb(73, 0, 0),rgb(0, 0, 85));
    margin-bottom: 15px;
    border:5px;
}

#sideMenu .menuDiv ul{
    list-style: none;
}

#sideMenu .menuDiv .subHeader{
    border-left:0;
    border-top-right-radius: 5px;
}

p.subHeader{
    background:rgb(0, 0, 85) -webkit-linear-gradient(left, red,black, blue);
    border-color:rgb(0, 0, 85);
    color:#fff;
    display:block;
    margin-block-start: 0em;
    margin-block-end:0em;
    margin-inline-start:0px;
    margin-inline-end:0px;

}

.subHeader{
    width:100%;
    text-align:center;
    padding:5px;
    border-bottom-width:1px;
    font-size:14px;
    font-weight:bold;
    font-family:"Trebuchet MS",Helvetica,sans-serif;
    text-transform:uppercase;
}